/bitrix/
cache
upload
*.jpg
*.JPG
*.gif
*.tar
*.bz2
*.sql
tar.gz
*.rar
*.gz
*.png
*.deb
*.log
*.swf
*.exe
scripts/logs
*.hg*
.hg*
.htaccess
*.idea
*.xml
document_root.php
*.txt
*.zip
*.csv
*.pdf
cgi-bin
*pThumb*
